In [46]:
#Implementation of item-item colaborative filtering for netlfix example data
#Bikram Karki

import pandas as pd
import sklearn
import numpy as np
import scipy
from sklearn.metrics.pairwise import cosine_similarity

In [53]:
# Read given example dataset by our professor
dataset = pd.read_csv('exampledataset/data.txt', delimiter=',')

#Read netflix ratings given   
columns = ['IDusr','IDmve','Ratings'] 
dataset = pd.read_csv('netflix/ratings.txt', delimiter=',', names=columns)
dataset.head()

   IDusr    IDmve  Ratings
0     28  1392773      4.0
1     28  1990901      5.0
2     28   765331      3.0
3     28  1987434      4.0
4     28  2193455      4.0

In [60]:
# matrix for user-movie 
matrixUsrMovie = dataset.pivot(index ='IDusr', columns ='IDmve', values ='Ratings')
matrixUsrMovie.fillna(0, inplace=True)  # remove NaNs
matrixUsrMovie.head()

IDmve,7,79,199,481,769,906,1310,1333,1427,1442,...,2648572,2648589,2648730,2648734,2648853,2648869,2648885,2649120,2649267,2649285
IDusr,,,,,,,,,,,,,,,,,,,,,
28,4.0,0.0,0.0,0.0,0.0,3.0,3.0,2.0,0.0,4.0,...,0.0,3.0,4.0,0.0,2.0,0.0,4.0,0.0,0.0,4.0
48,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
305,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0
577,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
595,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
# cosine similarity getting using sklearn
cosine_sim_matrix = cosine_similarity(matrixUsrMovie.T, matrixUsrMovie.T)
cosine_sim_matrix

array([[1.        , 0.43503212, 0.37994855, ..., 0.42237094, 0.3741104 ,
        0.55577001],
       [0.43503212, 1.        , 0.72314299, ..., 0.0951968 , 0.61113629,
        0.65693576],
       [0.37994855, 0.72314299, 1.        , ..., 0.        , 0.78132929,
        0.61589504],
       ...,
       [0.42237094, 0.0951968 , 0.        , ..., 1.        , 0.        ,
        0.11553664],
       [0.3741104 , 0.61113629, 0.78132929, ..., 0.        , 1.        ,
        0.5317937 ],
       [0.55577001, 0.65693576, 0.61589504, ..., 0.11553664, 0.5317937 ,
        1.        ]])

In [61]:
# final predict rating
def final_rating_predict(usrID, movieID):   
    
    df = pd.DataFrame(matrixUsrMovie)
    
    #Using numpy getting index of userID and movieId from the matrixUsrMovie panda dataframe
    user_pos = np.where(df.index.values==usrID)[0][0]
    movie_pos = np.where(df.columns.values==movieID)[0][0]
    
    # Rating calculation
    evaluate_rating = np.sum( np.dot(matrixUsrMovie.iloc[user_pos, :] , cosine_sim_matrix[:, movie_pos])) / (np.sum(cosine_sim_matrix[:, movie_pos]) - 1)
    finalrating = "{:.1f}".format(evaluate_rating)
    
    print ("Final Predicted rating :  ", finalrating)

In [67]:
#Please enter User Id and Movie IDin the input parameters of final_rating_predict
final_rating_predict(305,1333)

Final Predicted rating :   0.8